.invoice-box {
  max-width: 600px;
  /* margin: 40px auto; */
  padding: 30px;
  border: 1px solid #eee;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}



.invoice-customer {
  margin-bottom: 20px;
}

.mat-mdc-table{
  background: #fff;
}
.mat-mdc-paginator{
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f8f8f8;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.total td {
  border-top: 2px solid #333;
}

.fa {
    color: #099a09;
    font-size: 12px;

}

.fa-copy {
    font-size: 20px !important;
    color: #000
}

.transaction-wrapper {
  max-width: 900px;
  margin:1px auto;
  padding: 5px;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.summary-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  flex: 1 1 45%;
}

.summary-card.withdrawal{
  background:  #1b6cfc;
  color:#fff;
}
/* .summary-card.deposit{
  background:  #121330;
  color:#fff;
} */

.deposit mat-icon {
  color: green;
  font-size: 36px;
}

.withdrawal mat-icon {
  color: white;
  font-size: 36px;
}

.withdrawal h3{
  color: #fff
}

.table-section {
  overflow-x: auto;
}

span.success {
  color: green;
  font-weight: bold;
}

span.pending {
  color: orange;
  font-weight: bold;
}

span.declined {
  color: red;
  font-weight: bold;
}

.filter-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 30%;
  /* margin-right: auto;
  margin-left: auto; */
  justify-content: flex-end;
  float: right;
  /* justify-content:ce1234nter; */
}
mat-form-field {
  min-width: 150px;
}

button.add-new-add {
    font-size: 9px;
}

/*  */
.info-alert {
  background:rgb(101 101 94);
  /* rgba(255, 255, 255, 0.07); */
  padding: 12px 15px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #e8e8e8;
  /* margin-top: 15px; */
  margin-bottom:  15px;
  border-left: 3px solid #f71f10;
}

.info-alert i {
  font-size: 18px;
  color: #f71f10;
  margin-top: 2px;
}

mat-icon, mat-icon.mat-primary, mat-icon.mat-accent, mat-icon.mat-warn {
    color: var(--mat-icon-color, inherit);
    font-size: 15px;
}
